/*1024-1199*/
@media screen and (max-width: 1199px) {

    #info {
        grid-gap: 48px 30px;
    }

    #info .saturday-party-text {
        margin-bottom: 24px;
    }

    #header-menu {
        margin-right: 0;
    }

    #header-container {
        padding: 30px 20px;
    }

    #main-container {
        padding: 30px 20px 0 20px;
    }

    #main-info {
        margin-right: 65px;
    }

    #our-masters .slick-next, #our-masters .slick-prev {
        display: none !important;
    }

    .slick-dots .slick-active {
        border-radius: 50%;
        background-color: rgb(99, 37, 221);
        width: 14px;
        height: 14px;
    }

    .slick-dots li {
        border-width: 1px;
        border-color: rgb(99, 37, 221);
        border-style: solid;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        margin-top: 35px;
    }

    #our-masters {
        max-width: 400px;
        text-align: center;
        padding-top: 15px;
    }

    #our-masters, .slick-dots {
        bottom: -52px;
    }
    #our-masters #our-masters-text {
        margin: 18px auto 57px auto;
    }

    #our-menu {
        padding: 90px 20px 0 20px;
    }

    #our-menu .product {
        width: 460px;
        height: 275px;
    }

    #our-menu .product-info {
        width: 280px;
    }

    #our-menu .product-flex {
        justify-content: flex-start;
    }
    #our-menu .product.border {
        margin-right: 57px;
    }
    #discounts-container {
        width: 400px;
        margin: 0 auto;
    }

    #discounts {
        text-align: center;
    }
    #discounts-text {
        margin: 13px auto 60px auto;
    }

    .discount-item, .discount-image img, .discount-info {
        width: 400px;
    }

    #discounts-container .slick-next, #discounts-container .slick-prev  {
        display: none !important;
    }

    #discounts-container .slick-active {
        border-radius: 50%;
        background-color: rgb(99, 37, 221);
        width: 14px;
        height: 14px;
    }

    .slick-dots {
        bottom: -50px;
    }

    #gallery h4 {
        text-align: center;
    }
    #gallery {
            padding: 130px 20px 0 20px;
    }

    #gallery-container .popup {
        margin: 0 15px 30px 15px;
    }

    #gallery-container {
        justify-content: center;
    }

    #gallery-container .popup:last-child {
        width: 700px;
        overflow: hidden;
    }

    #booking {
        margin-top: 130px;
        max-width: 900px;
    }

    #location {
        padding: 100px 20px 100px 20px;
    }

    #location-info {
        width: 300px;
    }

    #location-container {
        justify-content: space-around;
    }

    #footer {
        padding: 0 20px 55px 20px;
    }
}

@media screen and (max-width: 1115px) {
    #info .vip-rooms {
        width: 460px;
    }

    #info .best-tastes {
        width: 460px;
    }

    #info .saturday-party {
        width: 490px;
    }

    #info {
        padding-bottom: 140px;
        grid-gap: 40px 20px;

    }

    #info .saturday-party img {
        width: 432px;
    }

    #header-menu {
        display: none;
    }

    #burger {
        display: block;
    }

    #header-container {
        position: relative;
        justify-content: flex-start;
        align-items: center;
    }

    #work-time-container {
        margin-left: auto;
        margin-right: 25px;
    }

    .logo {
        margin-right: 25px;
    }

    #header-menu {
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        z-index: 3;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 75px 0;
        display: none;
        margin-left: 0;
    }

    #header-menu a.a {
        display: block;
        width: auto;
        height: 60px;
    }

    #header-container #cross {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 24px;
        opacity: 0.8;
    }

    #header-container.menu-open {
        background: rgba(0, 0, 0, 0.8);
    }

    #header-container.menu-open #header-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #main-image #sparks {
        bottom: 290px;
        left: -3px;
        width: 245px;
    }

    #main-image #coal {
        width: 34px;
        bottom: 407px;
        left: 160px;
    }

    #main-image #coal-shadow {
        width: 40px;
        bottom: 421px;
        left: 165px;
    }

    #main-image #hookah {
        height: 400px;
    }

    #main-image #coals {
        top: -5px;
        left: 108px;
    }

    #main-image #coals-smoke {
        top: -23px;
        left: 108px;
    }

    #main-image #coals-shadow {
        top: -34px;
        left: 97px;
    }

    #main-image #coal-smoke {
        bottom: 394px;
        left: 96px;
        width: 150px;
    }

    #main-image #sale {
        top: 98px;
        left: -11px;
        width: 120px;
    }

    #main-image {
        margin-right: 0;
    }

    #main-container {
        justify-content: space-evenly;
    }

    #main-info {
        margin-right: 0;
    }

}

@media screen and (max-width: 1074px) {
    #our-menu .product-flex {
        flex-direction: column;
        align-items: center;
    }
    #our-menu h4 {
        text-align: center;
    }
    #our-menu .category-container {
        justify-content: center;
    }
    #our-menu .product.border {
        margin-right: 0;
    }
    #our-menu .category {
        margin: 0 19px;
    }
}
/*768-1023*/
@media screen and (max-width: 1023px) {

    #map iframe {
        width: 550px;
    }

    #info .best-tastes {
        flex-direction: column-reverse;
        width: 290px;
        height: 367px;
    }

    #info .vip-rooms {
        flex-direction: column;
        width: 290px;
        height: 367px;
    }

    #info .saturday-party {
        width: 290px;
        height: 367px;
    }

    #info .saturday-party-text {
        width: 230px;
        margin-bottom: 16px;
    }

    #info .saturday-party img {
        width: 343px;
    }

    #info .best-tastes img, #info .vip-rooms img, #info .saturday-party img {
        width: 230px;
        height: 115px;
        object-fit: cover;
    }

    #info {
        grid-template-rows: repeat(4, 154px);
    }

    #info .and {
        grid-row-start: 3;
        margin-top: 32px;
        margin-left: 20px;
        width: 218px;
    }

    #main-container {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 929px) {
    #main-info h2 {
        font-size: 32px;
    }

    #main-info {
        width: 390px;
    }

    #gallery-container .popup {
        margin: 0 15px 30px 15px;
    }
    .popup2 img {
        height: 330px;
    }

    #booking {
        max-width: 650px;
    }

    #booking #form {
        width: 465px;
    }

    #map iframe {
        width: 400px;
    }

    #location-info {
        width: 280px;
    }

}

/*580-767*/
@media screen and (max-width: 767px) {
    #main-container {
        flex-direction: column;
        align-items: center;
        position: relative;
    }



    #main-info h2 {
        margin: 0 0 500px 0;
    }

    #main-info #main-text br {
        display: none;
    }

    #main-info {
        text-align: center;
        margin: 0;
    }

    #main-image {
        height: 564px;
        position: absolute;
        top: 160px;
        left: calc(50% - 130px);
    }

    #main-image #copy-hookah {
        width: 235px;
    }

    #main-container .order-btn {
        margin-bottom: 0;
    }

    #info {
        padding: 100px 20px;
        grid-template: 1fr 1fr 1fr / 1fr;
        justify-items: center;
    }

    #info .best-tastes {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
        text-align: center;
        align-items: center;
    }

    #info .saturday-party {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
        text-align: center;
        align-items: center;
    }

    #info .vip-rooms {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
        text-align: center;
        align-items: center;
    }

    #info .and {
        display: none;
    }

    #discounts {
        padding-top: 65px;
        text-align: center;
    }

    #discounts-text {
        margin: 18px auto 58px auto;
    }
    #gallery .slick-next, #gallery .slick-prev {
        display: none !important;
    }

    #gallery {
        padding-top: 135px;
        text-align: center;
    }

    #gallery .slick-slide img {
        width: 400px;
        height: 200px;
        object-fit: cover;
    }

    #gallery .slick-slide {
        width: 400px;
        height: 200px;
    }

    .popup {
        width: 400px !important;
    }

    #booking {
        background: none;
        height: 375px;
    }

    #location {
        padding: 65px 20px 0 20px;
        text-align: center;
    }

    #location-info {
        order: 1;
    }

    #map {
        order: 2;
    }

    #location-container {
        flex-direction: column;
        align-items: center;
    }

    .location-info-container {
        margin-bottom: 35px;
    }

    #footer #footer-container, #right-block {
        flex-direction: column;
        margin-top: 95px;
    }

    #footer-container .logo {
        position: absolute;
        left: calc(50% - 63px);
    }

    #footer #footer-container .order-btn {
        margin: 0 0 35px 0;
    }

    #rights {
        display: none;
    }
}

@media screen and (max-width: 660px) {
    #header-container #work-time-container, #header-container .phone-container {
        display: none;
    }

    #header-container {
        justify-content: space-between;
    }

    #work-time-burger, #phone-burger {
        display: block;
        height: 60px;
        opacity: 0.8;
    }

    #our-menu {
        padding: 90px 0 0 0;
        max-width: 660px;
    }
    #hookah-container {
        padding: 0 15px;
    }

    #our-menu .category-container {
        height: 22px;
        overflow: auto;
        white-space: nowrap;
        width: 100%;
    }
    .product-text {
        margin-bottom: 17px;
    }

    #gallery h4 {
        width: 400px;
        margin: 0 auto 37px auto;
    }
}

@media screen and (max-width: 550px) {
    #our-menu .product.border {
        flex-direction: column;
        width: 290px;
        height: 390px;
    }

    #our-menu .category-container .category:first-child {
        margin-left: 105px;
    }

    #our-menu .product-photo {
        width: 215px;
        height: 115px;
    }

    #our-menu .product-photo img {
        width: 215px;
        height: 115px;
        object-fit: cover;
    }

    #our-menu .product-info {
        text-align: center;
    }

    #our-menu .product.border {
        padding: 25px 0;
        align-items: center;
    }
    #our-menu .product-title {
        margin-bottom: 13px;
    }

    #our-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #our-menu .product.border {
        height: unset;
    }

    #our-menu .cost {
        margin-bottom: 25px;
    }

    #our-menu .product.not-border {
        display: none;
    }

    .discount-item, .discount-image img, .discount-info, #gallery .slick-slide img, #discounts-container, #gallery-container {
        width: 290px;
    }

    #gallery-container {
        margin: 0 auto;
    }

    #gallery-container .popup {
        margin: 0 0 30px 0;
    }
    .master .master-image {
        width: 290px;
        height: 290px;
    }
    #our-masters .master-info {
        width: 290px;
        height: 211px;
    }
    #our-masters {
        max-width: 320px;
    }
    #our-masters .master {
        padding: 0;
    }
    #our-masters #our-masters-text {
        width: 290px;
    }
}

/*320-479*/
@media screen and (max-width: 424px) {
    #main-info h2 {
        font-size: 24px;
    }

    #booking #sent-from div {
        font-size: 18px;
        width: 290px;
    }

    #our-menu .category-container .category:first-child {
        margin-left: 215px;
    }

    #main-info {
        width: 320px;
    }

    #main-info #main-text {
        font-size: 14px;
        line-height: 1.429;
        width: 273px;
        margin: 30px auto 40px auto;
    }

    #info h3 {
        font-size: 16px;
    }

    #info .saturday-party {
        height: 338px;
        display: flex;
        flex-direction: column;
    }

    #info .best-tastes, #info .vip-rooms {
        height: 343px;
    }

    h4 {
        font-size: 20px;
    }

    #discounts-text {
        width: 227px;
    }

    #discounts, #gallery {
        padding: 90px 15px 0 15px;
    }

    #gallery h4 {
        width: 250px;
        margin: 0 auto 37px auto;
    }

    #form-title {
        width: 205px;
    }

    #booking #form {
        padding: 30px 15px;
    }

    #form-container {
        width: 290px;
    }

    #reserve-info {
        text-align: center;
    }

    #social-media img {
        height: 100%;
    }

    #social-media {
        height: 38px;
    }

    #map iframe {
        width: 290px;
        height: 360px;
    }

    #location {
        padding: 65px 15px 0 15px;
    }
}