@font-face {
    font-family: 'PantonExtraBold';
    src: url("../fonts/PantonExtraBold.ttf");
}

@font-face {
    font-family: 'MontserratExtraLight';
    src: url("../fonts/MontserratExtraLight.ttf");
}

@font-face {
    font-family: 'MontserratMedium';
    src: url("../fonts/MontserratMedium.ttf");
}

@font-face {
    font-family: 'MontserratRegular';
    src: url("../fonts/MontserratRegular.ttf");
}

body {
    margin: 0;
    font-family: "MontserratRegular", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-image: url("../images/blue-bg.png");
}

#main {
    background-image: url("../images/house-bg.png");
    background-size: cover;
}


#header-container {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    position: relative;
}

.logo-text {
    position: absolute;
    top: 0;
    left: 38px;
    font-size: 13px;
    font-family: "MontserratExtraLight", sans-serif;
    width: 80px;
}

.logo-text span {
    font-size: 18px;
    font-family: "PantonExtraBold", sans-serif;
    color: rgb(112 68 199);
    text-shadow: 0px 0px 12px rgb(112 68 199);
}

#header-menu {
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
}

#header-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#work-time-container {
    display: flex;
    align-items: center;
}

#work-time-container img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.work-time {
    width: 130px;
}

.phone-container {
    display: flex;
}

.phone-container .phone {
    width: 130px;
}


.phone-container .phone span {
    font-family: "MontserratRegular", sans-serif;
    color: rgb(112 68 199);
    text-shadow: 0px 0px 12px rgb(112 68 199);
}

#main-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
}

#main-info {
    width: 440px;
    margin-right: 210px;
}

#main-info h2 {
    font-size: 36px;
    font-family: "PantonExtraBold", sans-serif;
    line-height: 1.389;
    letter-spacing: 1px;
    margin: 85px 0 0 0;
}

#main-info #main-text {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.333;
}

.order-btn {
    background-color: rgb(98, 36, 223);
    padding: 16px 36px;
    font-family: "MontserratMedium", sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 180px;
    border: none;
}

.order-btn:hover {
    box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
    -moz-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
    cursor: pointer;
}

#main-image {
    position: relative;
    /*width: 560px;*/
    /*height: 515px;*/
}

#main-image #copy-hookah {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
}

#main-image #smoke-sides {
    position: absolute;
    bottom: 106px;
    left: -62px;
}

#main-image #smoke-center {
    position: absolute;
    bottom: 106px;
    left: 27px;
}

#main-image #coals {
    position: absolute;
    top: -12px;
    left: 90px;
}

#main-image #coals-shadow {
    position: absolute;
    top: -42px;
    left: 76px;
}

#main-image #coals-smoke {
    position: absolute;
    top: -28px;
    left: 95px;
}

#main-image #sparks {
    position: absolute;
    bottom: 129px;
    left: 123px;
    z-index: -10;
}

#main-image #coal {
    position: absolute;
    bottom: 305px;
    left: 353px;
}

#main-image #coal-shadow {
    position: absolute;
    bottom: 333px;
    left: 365px;
    z-index: -5;
}

#main-image #coal-smoke {
    position: absolute;
    bottom: 286px;
    left: 275px;
    z-index: -7;
}

#main-image #sale div {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 123px;
    height: 123px;
    z-index: 51;
}

#main-image #sale div span {
    font-size: 14px;
    font-family: "PantonExtraBold", sans-serif;
    line-height: 1.286;
    text-align: center;
    position: absolute;
    top: 43px;
    left: 17px;
}

#main-image #sale {
    border-radius: 50%;
    background-color: rgb(7, 0, 21);
    position: absolute;
    left: -65px;
    top: 132px;
    width: 135px;
    height: 135px;
    z-index: 50;
    box-shadow: 0px 0px 16px 1px rgba(158, 108, 228, 0.4);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(158, 108, 228, 0.4);
    -moz-box-shadow: 0px 0px 16px 1px rgba(158, 108, 228, 0.4);
}

#blue-bg {
    /*background-image: url("../images/blue-bg.png");*/
}

#info {
    padding: 120px 20px 150px 20px;
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: fit-content(510px) fit-content(540px);
    grid-template-rows: repeat(4, 95px);
    grid-gap: 60px;
    justify-content: center;
}

.border {
    border-width: 1px;
    border-color: rgb(98, 36, 223);
    border-style: solid;
    box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
    -moz-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
}

#info .best-tastes {
    display: flex;
    padding: 28px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    height: 250px;
    box-sizing: border-box;
    justify-content: space-between;
}

#info .best-tastes img {
    width: 198px;
    height: 192px;
}

#info .vip-rooms {
    display: flex;
    padding: 28px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    height: 230px;
    width: 510px;
    box-sizing: border-box;
    justify-content: space-between;
}

#info .vip-rooms img {
    width: 174px;
    height: 174px;
}

#info .vip-rooms-text div {
    width: 224px;
}

#info .best-tastes-text {
    width: 202px;
}

#info .and {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    width: 345px;
}

#info .saturday-party {
    padding: 28px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    box-sizing: border-box;

}

#info .saturday-party-text {
    margin-bottom: 42px;
    width: 420px;
}

#info h3 {
    font-size: 20px;
    font-family: "PantonExtraBold", sans-serif;
    color: rgb(98, 36, 223);
    margin: 0 0 17px 0;
}

#our-masters {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 145px;
    padding-bottom: 75px;
}

h4 {
    font-size: 30px;
    font-family: "PantonExtraBold", sans-serif;
    margin: 0;
}

#our-masters #our-masters-text {
    width: 340px;
    margin-top: 18px;
    margin-bottom: 57px;
}

.master .master-image {
    width: 350px;
    height: 350px;
}

.master img {
    width: auto;
    height: 100%;
}

.slick-prev:before {
    content: url("../images/prev.png");
}

.slick-next:before {
    content: url("../images/next.png");
}

#our-masters .slick-prev {
    top: 587px;
    left: calc(50% - 61px);
}


#our-masters .slick-next {
    top: 587px;
    left: calc(50% + 23px);
}

.slick-next:hover, .slick-prev:hover {
    box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
    -moz-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
}

.slick-next, .slick-prev {
    border-width: 1px;
    border-color: rgb(98, 36, 223);
    border-style: solid;
    width: 45px;
    height: 45px;
}


#our-masters .master-info {
    margin-top: 9px;
    padding: 30px;
    border-width: 1px;
    border-color: rgb(98, 36, 223);
    border-style: solid;
    box-sizing: border-box;
    width: 350px;
    box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
    -moz-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
}

#our-masters .masters-container {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*margin-left: 30px;*/
}

#our-masters .master {
    padding: 0 10px;
}

#our-masters .name {
    font-size: 18px;
    font-family: "PantonExtraBold", sans-serif;
    color: rgb(98, 36, 223);
}

#our-masters .experience {
    font-size: 15px;
    color: rgb(148, 148, 148);
    margin: 18px 0;
}




#our-menu {
    padding-top: 110px;
    max-width: 1140px;
    margin: 0 auto;
}

#snacks-container, #tea-container, #bar-container {
    display: none;
}

#our-menu .category-container {
    display: flex;
    margin-top: 25px;
}

#our-menu .category {
    margin-right: 40px;
    line-height: 1.4;
}

#our-menu .category.active {
    border-bottom: 1px solid rgb(98, 36, 223);
    box-shadow: 0 6px 4px -4px rgba(98, 36, 223, .4);
}

#our-menu .category:hover {
    border-bottom: 1px solid rgb(98, 36, 223);
    box-shadow: 0 6px 4px -4px rgba(98, 36, 223, .4);
    cursor: pointer;
}

#our-menu .product-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#our-menu .product.border {
    padding: 29px;
    border-width: 1px;
    border-color: rgb(98, 36, 223);
    border-style: solid;
    /*width: 350px;*/
    box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
    -moz-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.3);
}

#our-menu .product {
    padding: 29px 0;
    box-sizing: border-box;
    display: flex;
    width: 525px;
    height: 250px;
    margin-top: 50px;
    justify-content: space-between;
}

#our-menu .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
}

#our-menu .product-title {
    font-size: 20px;
    font-family: "PantonExtraBold", sans-serif;
    color: rgb(98, 36, 223);
    margin-bottom: 18px;
}

#our-menu .product-text p {
    /*margin: 25px 0;*/
}

#our-menu .cost {
    font-size: 20px;
    font-family: "PantonExtraBold", sans-serif;
    margin-top: 15px;
}

#our-menu .product-photo {
    width: 150px;
    height: 190px;
}

#our-menu .product-photo img {
    width: 100%;
    height: 100%;
}

#discounts {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 145px;
}

#discounts-text {
    margin-top: 18px;
    margin-bottom: 58px;
    width: 306px;
}

#discounts-container {
    display: flex;
    justify-content: space-between;
}

.discount-info {
    width: 348px;
    margin-top: 20px;
}

#gallery {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 125px;
}

#gallery h4 {
    margin-bottom: 37px;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gallery-container .popup {
    margin-bottom: 60px;
}

#booking {
    max-width: 1140px;
    margin: 210px auto 0 auto;
    background-image: url("../images/booking-bg.png");
    height: 490px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#booking #form {
    padding: 30px 100px;
    background-color: rgb(7, 0, 21);
    width: 570px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-title {
    font-size: 20px;
    font-family: "PantonExtraBold", sans-serif;
    text-align: center;
    margin-bottom: 35px;
}

#booking #btn {
    background-color: rgb(98, 36, 223);
    padding: 16px 36px;
    color: rgb(255, 255, 255);
    border: none;
    font-family: "MontserratRegular", sans-serif;
    font-size: 15px;
    width: 100%;
}

#booking #btn:hover {
    box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
    -moz-box-shadow: 0px 0px 16px 1px rgba(98, 36, 223, 0.4);
    cursor: pointer;
}

#reserve input {
    border-width: 1px;
    border-color: rgb(98, 36, 223);
    border-style: solid;
    background: transparent;
    outline: none;
    padding: 13px;
    margin-bottom: 22px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "MontserratRegular", sans-serif;
    font-size: 13px;
    /*width: 348px;*/
    /*height: 38px;*/
}

#reserve input::placeholder {
    font-size: 13px;
    font-family: "MontserratRegular", sans-serif;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

#form-container {
    width: 350px;
}

#reserve .width-form {
    width: 100%;
}

#reserve-info {
    font-size: 11px;
    color: rgb(143, 143, 143);
    line-height: 1.364;
    margin-top: 18px;
}

.reserve-input {
    position: relative;
}

.reserve-input .error-text {
    position: absolute;
    left: 4px;
    bottom: 4px;
    font-size: 12px;
    color: red;
    display: none;
}

#booking #sent-from {
    padding: 30px 100px;
    background-color: rgb(7, 0, 21);
    width: 570px;
    height: 430px;
    box-sizing: border-box;
    display: none;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

#location {
    max-width: 1140px;
    margin: 0 auto;
    padding: 150px 0 160px 0;
}

#location h4 {
    margin-bottom: 55px;
}

#location-container {
    display: flex;
    justify-content: space-between;
}

#location-info {
    width: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#location-info .location-title {
    font-size: 20px;
    font-family: "PantonExtraBold", sans-serif;
    color: rgb(98, 36, 223);
    margin-bottom: 18px;
}

#social-media img {
    margin-right: 14px;
}

#social-media img:hover {
    opacity: 0.9;
}

#footer {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 55px;
}

#footer #footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer #footer-container .order-btn {
    margin-bottom: 0;
    margin-right: 40px;
}

#right-block {
    display: flex;
    align-items: center;
}

#rights {
    font-size: 13px;
    color: rgb(147, 147, 147);
    margin-top: 27px;
}

#info1 {
    display: flex;
    justify-content: space-around;
}

#block1 {
    width: 510px;
}

#block2 {
    width: 540px;
}

#burger {
    display: none;
    color: rgb(85, 32, 190);
    font-size: 30px;
}